<html>
    
<head>
    <title>SIT737 Assignment 2</title>
    <link rel="stylesheet" href="CSS/Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    
<body>
    <section class="header">
        <div class="container">
        
            <button type="button" class="login">Login</button>
            <button type="button" class="Home">Home</button>
        
        </div>
        
        <h1>Travel around the world</h1>
        <p>This website is for assignment purpose</p>
        
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Search country or City">
            <div class="input-group-append">
            <button type="submit" class="input-group-btn">Search</button>
            </div>
        </div>
        
    </section>
    <section class="features">
        <h1>Featured Destinations</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="images/taj.jpg">                        
                        </div>
                    
                    <div class="feature-detail">
                    <h3>Taj Mahal India</h3>
                        <p>Text about india and taz mahal</p>
                        <div>
                        <span><i class="fa fa-map-marker">India</i></span>
                        <span><i class="fa fa-sun-o">4 Days</i></span>
                        <span><i class="fa fa-moon-o">3 Nights</i></span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="images/taj.jpg">                        
                        </div>
                    
                    <div class="feature-detail">
                    <h3>Taj Mahal India</h3>
                        <p>Text about india and taz mahal</p>
                        <div>
                        <span><i class="fa fa-map-marker">India</i></span>
                        <span><i class="fa fa-sun-o">4 Days</i></span>
                        <span><i class="fa fa-moon-o">3 Nights</i></span>
                        </div>
                    
                    </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="images/taj.jpg">                        
                        </div>
                    
                    <div class="feature-detail">
                    <h3>Taj Mahal India</h3>
                        <p>Text about india and taz mahal</p>
                        <div>
                        <span><i class="fa fa-map-marker">India</i></span>
                        <span><i class="fa fa-sun-o">4 Days</i></span>
                        <span><i class="fa fa-moon-o">3 Nights</i></span>
                        </div>
                    </div>
                    </div>    
                </div>
            </div>
        </div>
    
    </section>
    
    
    <section class="gallery">
    <h1>Gallery</h1>
        <div class="container">
            <div class="row">
                <div class="col-g">
                    <div class="gallery-box">
                        <img src="images/Bali.jpeg" height="250" width="250">
                        <h4>Bali</h4>
                    </div>
                </div>
                <div class="col-g">
                    <div class="gallery-box">
                        <img src="images/Bali.jpeg" height="250" width="250">
                        <h4>Bali</h4>
                    </div>
                </div>
                <div class="col-g">
                    <div class="gallery-box">
                        <img src="images/Bali.jpeg" height="250" width="250">
                        <h4>Bali</h4>
                    </div>
                </div>
                <div class="col-g">
                    <div class="gallery-box">
                        <img src="images/Bali.jpeg" height="250" width="250">
                        <h4>Bali</h4>
                    </div>
                </div>
            </div>
        </div>    
    </section>

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-f">
                 <h4>SIT737 Assignment 2</h4>
                    <p></p>
                </div>
                
                <div class="col-f">
                   <h4>Group members</h4>
                    <p>Ranjith </p>
                    <p>Saurav Suman   (SID: 218313563)</p>
                    <p>Harsha</p>
                </div>
                
                <div class="col-f">
                   <h4>Contact Us</h4>
                    <p><i class="fa fa-phone-square"></i>+64123456789</p>
                    <p><i class="fa fa-envelope"></i>ABCD@deakin.edu.au</p>
                <p><i class="fa fa-home"></i>Melbourne</p>
                </div>
                
            </div>
        </div>
        
    </section>

</body>    
    
</html>